.title {
  composes: titleMini from "../../styles/typo.module.css";
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  padding: 2rem;
}

.wrapperContainer{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  width: 50%;
}
.input {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}

.inputFancy {
  margin-top: 5rem;
  margin: 5rem;
  padding: 1rem;
  width: 50%;
  border: none;
  border-radius: 0.1rem;
  background-color: transparent;
  border-bottom: 0.3rem solid var(--color-bluelight);
  outline: none;
  color: var(--color-bluelight)
}

.inputFancy:focus{
  border-bottom: 0.3rem solid var(--color-pink);
}

.inputFancy::placeholder{
  color: var(--color-bluelight);
}

.inputFancy:focus::placeholder{
  color: var(--color-pink);
}

.buttonWrapper {
  position: absolute;
  bottom: 0;
  right: 2rem;
}
.label{
  display: flex;
  align-items: center;
}

/* ---------WRAPPER------------ */
.inputRadioContainer{
  width: 10rem;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------LABEL------------ */
.labelRadio {
  cursor: pointer;
  position: absolute;
}
.labelRadioActive {
  cursor: pointer;
  position: absolute;
  color: var(--color-pink);
  text-decoration: underline;
}
.inputRadioContainer:hover .labelRadio{
  color: var(--color-pink);
  text-decoration: underline;
}
.inputRadioContainer:active .labelRadio{
  color: var(--color-pink);
}
.inputRadioContainer:hover .labelRadioActive{
  color: var(--color-pink);
  text-decoration: underline;
}
.inputRadioContainer:active .labelRadioActive{
  color: var(--color-pink);
}

/* ---------INPUT------------ */
.inputRadio {
  display: none;
  outline: none;
  cursor: pointer;
}
input[type= "radio"]{
  display: none;
  background-color: var(--color-bluelight);
  outline: none;
  cursor: pointer;
}
input[type="radio"]::-moz-radio-progress {
  display: none;
  background-color: var(--color-bluelight);
  outline: none;
  cursor: pointer;
}
input[type="radio"]::-moz-radio-track {  
  display: none;
  background-color: var(--color-bluelight);
  outline: none;
  cursor: pointer;
}
input[type="radio"]::-ms-fill-lower {
  display: none;
  background-color: var(--color-bluelight);
  outline: none;
  cursor: pointer;
}
input[type="radio"]::-ms-fill-upper {  
  display: none;
  background-color: var(--color-bluelight);
  outline: none;
  cursor: pointer;
}